{% sw_extends '@Storefront/storefront/page/checkout/finish/index.html.twig' %}

{% block page_checkout_main_content %}
    {{ parent() }}

    <span class="addwish-conversion" style="display:none;"
          data-ordernumber="{{ page.order.orderNumber }}"
          data-total="{{ page.order.amountTotal }}"
          data-email="{{ page.order.orderCustomer.email }}"
    >
        {% for orderItem in page.order.lineItems.elements %}
            <span class="addwish-product"
                  data-unit-price="{{ orderItem.unitPrice }}"
                  data-url="{{ seoUrl('frontend.detail.page', {'productId': orderItem.productId}) }}"
                  data-productnumber="{{ orderItem.payload.productNumber }}"
            ></span>
        {% endfor %}
    </span>
{% endblock %}
