<?xml version="1.0" ?>
<products totalProductsCount="{{ productsTotal }}">
    {% for product in products %}
        <product>
            <url>{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}</url>
            <title>{% if product.name %}{{ product.name }}{% else %}{{ product.translated.name }}{% endif %}</title>
            <ean>{{ product.productNumber }}</ean>
            <sku>{{ product.productNumber }}</sku>
            <imgurl>{% if product.cover %}{{ product.cover.media.url }}{% endif %}</imgurl>
            <price>{% if product.price %}{{ product.price.elements|first.gross }}{% endif %}</price>
            <oldPrice>{% if product.price %}{{ product.price.elements|first.gross }}{% endif %}</oldPrice>
            <productnumber>{{ product.productNumber }}</productnumber>
            <hierarchies>
                {% if product.categories %}
                    {% for category in product.categories.elements %}
                        <hierarchy>
                            {% for breadCrumb in category.breadcrumb %}
                                <category>{{ breadCrumb }}</category>
                            {% endfor %}
                        </hierarchy>
                    {% endfor %}
                {% endif %}
            </hierarchies>
            <keywords>{% if product.searchKeywords %}{% for keyword in product.searchKeywords.elements %}{{ keyword.keyword }},{% endfor %}{% endif %}</keywords>
            <instock>{% if product.availableStock > 0 %}true{% else %}false{% endif %}</instock>
            <description>{{ product.description }}</description>
            <brand>{% if product.manufacturer %}{{ product.manufacturer.name }}{% endif %}</brand>
        </product>
    {% endfor %}
</products>
