{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{# shopware-block: e8dd8fe21cfd9a363406c95484771a0fe7e0667b37f944642199575e480d5b6b@v6.5.8.9 #}
{% block layout_header_search_form %}
    {% if not config('HelretHelloRetail.config.searchEnabled') or config('HelretHelloRetail.config.searchConfigKey') is empty %}
        {{ parent() }}
    {% else %}
        {% set searchWidgetOptions = {
            searchWidgetResultSelector: '.hr-search-result'
        } %}
        <form action="{{ path('frontend.search.page') }}"
              method="get"
            {% if feature('v6.6.0.0') %}
                data-search-widget="true"
            {% else %}
                data-search-form="true"
            {% endif %}
              data-search-widget-options='{{ searchWidgetOptions|json_encode }}'
              data-url="{{ path('widgets.hello.retail.suggest') }}?search="
              class="header-search-form">
          {# shopware-block: abb27b467eccd6f8d7d21de0fae5ceae9a640a770ba8b8551849d8606f88da55@v6.5.8.9 #}
          {% block layout_header_search_input_group %}
                {{ parent() }}
            {% endblock %}
        </form>
    {% endif %}
{% endblock %}
