{# @var category \Shopware\Core\Content\Category\CategoryEntity #}
<category>
    <title>{{ category.translation('name') }}</title>
    <url>{{ seoUrl('frontend.navigation.page', {'navigationId': category.id}) }}</url>

    <description>{{ category.translation('description') }}</description>
    <keywords>{% if category.translated.keywords %}{% for keyword in category.translated.keywords %}{{ keyword.keyword }},{% endfor %}{% endif %}</keywords>

    <hierarchy>
        {% for breadCrumb in category.breadcrumb %}
            <category>{{ breadCrumb }}</category>
        {% endfor %}
    </hierarchy>

    {% if products is defined and products is not empty %}
        <categoryProducts>
            {% for product in products %}
                {%- if product and product.productNumber is defined -%}
                    <product>
                        <url>{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}</url>
                        <productNumber>{{ product.productNumber }}</productNumber>
                        <title>{% if product.name %}{{ product.name }}{% else %}{{ product.translated.name }}{% endif %}</title>
                    </product>
                {%- endif -%}
            {% endfor %}
        </categoryProducts>
    {% endif %}

    <extraData>
        <id>{{ category.id }}</id>
        <parent_id>{{ category.parentId }}</parent_id>
    </extraData>
</category>
